.home-container {
  padding: 1.5rem;
  padding-bottom: 80px; /* Space for the bottom nav */
  font-family: sans-serif;
  background-color: var(--container-bg);
  color: var(--text-primary);
  min-height: 100vh;
}

.home-header {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color)
}

